main {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}
.dashboard__right {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.dashboard__right > i{
    padding: 1.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
    border-radius: 1rem;
}
.dashboard__right .search__total {
    padding: 1.2rem 2.4rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
    transition: all 0.3s ease-in-out;
}

main input{
    border: none;
    outline: none;
    background: none;
}




.New__courses {
    margin-top: 2rem;
}
.new__courses__total {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 2rem 0;
    gap: 1rem;
}

.new__courses__card {  
    
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.geography {
    background-color: var(--lightOrange-color);
}
.geography > img:first-child {
    background-color: var(--darkOrange-color);
}
.javascript {
    background-color: lightyellow;
}
.javascript >img:first-child {
    background-color: yellow;
}
.photography {
    background-color: var(--lightBlue-color);
}
.new__courses__card > img {
    width: 100%;
    height: 10rem;
    /* padding: 1rem; */
    object-fit: cover;
    border-radius: 1rem;
    /* background-color: azure; */
}
.new__courses__card h4 {
    font-size: 1.3rem;
}
.new__courses__card > span {
    font-weight: 300;
    font-size: 1.2rem;
    font-style: italic;
}
.new__courses__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.geography i, .javascript i,.photography i{
    padding: 1rem;
    color: var(--dark-color);
    border-radius: 0.5rem;
}
.geography i {
    background-color: var(--darkOrange-color);
}
.javascript i {
    background-color: yellow;
}
.photography i{
    background-color: var(--darkBlue-color);
}
.new__courses__images {
    display: flex;
    align-items: center;
}
.new__courses__images img {
    width: 2.5rem;
    border-radius: 50%;
}
.new--courses--view {
    width: 7rem;
    grid-column: 3/-1;
    margin-top: 1rem;
    cursor: pointer;
    justify-self: flex-end;
    transition: all 0.3s ease-in-out;
}
.new--courses--view:hover {
    color: var(--darkPurple-color);
}




.my__courses--title {
    display: flex;
    justify-content: flex-start;
    
}
.my__courses--total {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: flex-start;
    margin-top: 1rem;
    padding: 0 2rem;
    gap: 2rem;
    max-height: 30rem;
    overflow-y: scroll;
}

.my__courses--title {
    color: var(--gray-color);
    
}
.col {
    display: flex;
    flex-direction: column;
}
.course--name {
    gap: 2rem;
}
.course--name--items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.left__class--names {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.left__class--names h4 {
    font-size: 1.4rem;
}
.left__class--names span {
    font-size: 1.2rem;
}
.course--name--items i {
    color: blue;
    padding: 1rem;
    font-size: 2.2rem;
    background-color: aqua;
    border-radius: 1rem;
    margin-right: 1.2rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design i{
    color: var(--darkPurple-color);
    background-color: var(--lightPurple-color);
}
.developement i {
    color: var(--darkBlue-color);
    background-color: var(--lightBlue-color);
}
.data i{
    color: var(--darkPink-color);
    background-color: var(--lightPink-color);
}
.html i {
    color: var(--darkPurple-color);
    background-color: var(--lightPurple-color);
}
.js i{
    color: var(--darkOrange-color);
    background-color: var(--lightOrange-color);
}
.course--date, .course--rate, .course--level {
    height: 33rem;
    justify-content: flex-start;
    gap: 1.2rem;
}

.col > span {
    font-size: 1.4rem;
    padding: 2rem 0;
}




