.container {
    max-width: 120rem;
    padding: 2rem 1rem;
    margin: 10rem auto;
    background-color: var(--light-color);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}