aside {
    width: 35rem;
    padding: 0 1rem;
}
.profile {
    margin-top: 1rem;
}
.profile__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
.profile__title i{
    box-shadow: 0 0 1rem rgba(0,0,0,0.25);
    padding: 1.2rem;
    border-radius: 1rem;
}
.profile__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.profile__img img {
    text-align: center;
    width: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
}
.profile__img img:hover {
    transform: scale(1.05);
}
.profile__img i{
    font-size: 1.2rem;
    background-color: var(--darkPurple-color);
    padding: 0.5rem;
    border-radius: 50%;
}
.profile__img > span {
    color: var(--gray-color);
}








.progress__total {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}
.progress__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    
}
.progress__box:hover  {
    background-color: var(--darkPurple-color);
    color: var(--lightGray-color);
    box-shadow: 0 0 0.7rem rgba(0,0,0,0.75);
    transform: scale(1.05);
}
.active {
    background-color: var(--darkPurple-color);
    color: var(--lightGray-color);
   
}

.progress__box .progress__left {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.progress__left__item {
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.progress__left__item span:first-child {
    font-size: 1.3rem;
}
.progress__left__item span:nth-child(2) {
    font-size: 1.1rem;
}



/* ====================
 progress__bar_circles
 =================== */

 @keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 6rem;
    --fg: #369;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }
  
  
 
